[submodule "mjcf_models"]
	path = mjcf_models
	url = git@github.com:mlap1n/mjcf_models.git
[submodule "gui-3d-editor"]
	path = gui-3d-editor
	url = git@github.com:mlap1n/gui-3d-editor.git
[submodule "src/modules/motion-generation"]
	path = src/modules/motion-generation
	url = git@github.com:mlap1n/motion-generation.git
[submodule "src/modules/RML"]
	path = src/modules/RML
	url = git@github.com:mlap1n/RML.git
